<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>Outcomes</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Value</th>
            <th>Tax</th>
            <th>IsPaid</th>
            <th>Company Name</th>
            <th>Installment</th>
            <th>TotalInstallment</th>
            <th>Paid At</th>
            <th>Category</th>
            <th>Type</th>
            <th>Repeat</th>
            <th>Create At</th>
        </tr>
        </thead>
        <tbody>
        {{range .}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Description}}</td>
            <td>{{.Amount}}</td>
            <td>{{.Tax}}</td>
            <td>{{.IsPayed}}</td>
            <td>{{.CompanyName}}</td>
            <td>{{.Installment}}</td>
            <td>{{.TotalInstallment}}</td>
            <td>{{.PaidAt}}</td>
            <td>{{.Category}}</td>
            <td>{{.TypeOutcome}}</td>
            <td>{{.Repeat}}</td>
            <td>{{.CreatedAt}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
</body>
</html>
