<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <form id="income-form">
        <label>Description:</label>
        <input name="description" id="description">
        <br />

        <label>Amount:</label>
        <input name="amount" id="amount" type="number" step="0.01">
        <br />

        <label>Source:</label>
        <input name="source" id="source">
        <br />

        <label>Payment Date:</label>
        <input name="payment_date" id="payment_date" type="date">
        <br />

        <label>Provider:</label>
        <input name="provider" id="provider">
        <br />

        <label>Type of Income:</label>
        <input name="type_income" id="type_income">
        <br />

        <button type="submit">Enviar</button>
    </form>
</div>

<script>
    document.getElementById('income-form').addEventListener('submit', function(event) {
        event.preventDefault();

        const incomeData = {
            description: document.getElementById('description').value,
            amount: parseFloat(document.getElementById('amount').value),
            source: document.getElementById('source').value,
            payment_date: document.getElementById('payment_date').value,
            provider: document.getElementById('provider').value,
            type_income: document.getElementById('type_income').value
        };

        fetch('api/v1/incomes', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(incomeData)
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                alert('Income added successfully');
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Error adding income');
            });
    });
</script>
</body>
</html>
