<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>Incomes</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Value</th>
            <th>Source</th>
            <th>Payment Date</th>
            <th>Provider</th>
            <th>Type</th>
            <th>Create At</th>
        </tr>
        </thead>
        <tbody>
        {{range .}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Description}}</td>
            <td>{{.Amount}}</td>
            <td>{{.Source}}</td>
            <td>{{.PaymentDate}}</td>
            <td>{{.Provider}}</td>
            <td>{{.TypeIncome}}</td>
            <td>{{.CreatedAt}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
</body>
</html>
